<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="SauceDemo Suite">
<<<<<<<< HEAD:suits/testng.xml
    <listeners>
        <listener class-name="utils.TestListener"/>
    </listeners>
========
>>>>>>>> origin/master:src/test/resources/suits/testng.xml
    <test name="UI tests">
        <classes>
            <class name="tests.SauceDemoTest"/>
        </classes>
    </test>
</suite>